.learninglab {
  .sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toRem(96) 0 toRem(201) 0;


    .cards-container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: toRem(82);
    }
  }
}


@media screen and (max-width: 984px) {
  .learninglab {
    .sec-1 {
      .left {
        margin: 0;
      }

      .right {
        .content {
          text-align: center;
        }
      }
    }
  }
}
